- var images = ['https://f4.bcbits.com/img/a3935322430_16.jpg', 'https://f4.bcbits.com/img/a3458975711_16.jpg', 'https://f4.bcbits.com/img/a1702319957_16.jpg', 'https://f4.bcbits.com/img/a1266503095_16.jpg', 'https://f4.bcbits.com/img/a3262924415_16.jpg', 'https://f4.bcbits.com/img/a2167720031_16.jpg', 'https://f4.bcbits.com/img/a2814443310_16.jpg', 'https://f4.bcbits.com/img/a3201110788_16.jpg',]

ul.photos-list
	each img in images
		li.photo
			div.photo-wrap(style='background-image: url(' + img + ')')


#overlay.overlay
	.overlay-content
		ul.slides-list
			//- li.slide.is-show
			//- 	.slide-image
			//- li.slide Slide 2
			//- li.slide Slide 3
			//- li.slide Slide 4
			//- li.slide Slide 5

		button#previous.controls.controls-prev
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>
		button#next.controls.controls-next
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm2 12l-4.5 4.5 1.527 1.5 5.973-6-5.973-6-1.527 1.5 4.5 4.5z"/></svg>

	.thumbnails-wrap
		ul.thumbnails-track
			//- each img in images
			//- 	li.thumbnails
			//- 		div.thumbnails-photo(style='background-image: url(img/img_7.jpg)')

