//- - var images = ['https://f4.bcbits.com/img/a3935322430_16.jpg', 'https://f4.bcbits.com/img/a3458975711_16.jpg', 'https://f4.bcbits.com/img/a1702319957_16.jpg', 'https://f4.bcbits.com/img/a1266503095_16.jpg', 'https://f4.bcbits.com/img/a3262924415_16.jpg', 'https://f4.bcbits.com/img/a2167720031_16.jpg', 'https://f4.bcbits.com/img/a2814443310_16.jpg', 'https://f4.bcbits.com/img/a3201110788_16.jpg', 'http://f4.bcbits.com/img/a2166253434_16.jpg', 'https://f4.bcbits.com/img/a1112293026_16.jpg', 'https://f4.bcbits.com/img/a1991547572_16.jpg']

- var images = ['http://nextgame.net/upload/iblock/917/Metal-Gear-Solid-3-Subsistence-Game-For-Sony-PS2_detail.jpg', 'https://s-media-cache-ak0.pinimg.com/736x/65/4c/dc/654cdc156b370d61708fe77dec624dca.jpg', 'http://cs621426.vk.me/v621426316/f61c/9euNaSUxqgQ.jpg' , 'https://f4.bcbits.com/img/a3935322430_16.jpg', 'https://f4.bcbits.com/img/a3458975711_16.jpg', 'https://f4.bcbits.com/img/a1266503095_16.jpg', 'https://f4.bcbits.com/img/a3262924415_16.jpg', 'https://f4.bcbits.com/img/a1112293026_16.jpg', 'https://f4.bcbits.com/img/a1991547572_16.jpg', 'http://orig11.deviantart.net/771a/f/2014/227/a/d/shadow_of_the_colossus_psd_pack_by_ultrama6net1cart-d7vbd5o.jpg', 'http://3.bp.blogspot.com/-HqP2lIoXEtM/U8FlUcgs-VI/AAAAAAAAB6w/i8vMxM4jwHE/s1600/Shadow+3.jpg']

ul.photos-list.skySlider
	each img in images
		li.photo
			//- div.photo-wrap(style='background-image: url(' + img + ')')
			img(src=img, alt="Some Foto")



//- .skySlider-overlay.is-open
//- 	.skySlider-slider-wrap
//- 		ul.skySlider-slider
//- 			each img in images
//- 				li.skySlider-slide.is-current
//- 					img(src=img, alt="Some Foto")

//- 	.skySlider-thumbnails-wrap
//- 		ul.skySlider-thumbnails-list
//- 			each img in images
//- 				li.skySlider-thumbnail
//- 					img(src=img, alt="Some Foto")
