- var images = ['img/img_1.jpg', 'img/img_2.jpg', 'img/img_3.jpg', 'img/img_4.jpg', 'img/img_5.jpg', 'img/img_6.jpg']

ul.photos-list
	each img in images
		li.photo(style='background-image: url()')
			img(src=img, alt="")
			div.thumb


.overlay.is-show
	ul.slides-list
		li.slide.is-show Slide 1
		li.slide Slide 2
		li.slide Slide 3
		li.slide Slide 4
		li.slide Slide 5

	button#previous.controls Prev
	button#next.controls Next


