- var gallery_1 = ['https://f4.bcbits.com/img/a3935322430_16.jpg', 'https://f4.bcbits.com/img/a3458975711_16.jpg', 'https://f4.bcbits.com/img/a1702319957_16.jpg', 'https://f4.bcbits.com/img/a1266503095_16.jpg']

- var gallery_2 = ['http://nextgame.net/upload/iblock/917/Metal-Gear-Solid-3-Subsistence-Game-For-Sony-PS2_detail.jpg', 'https://s-media-cache-ak0.pinimg.com/736x/65/4c/dc/654cdc156b370d61708fe77dec624dca.jpg', 'http://cs621426.vk.me/v621426316/f61c/9euNaSUxqgQ.jpg' , 'https://f4.bcbits.com/img/a3935322430_16.jpg', 'https://f4.bcbits.com/img/a3458975711_16.jpg', 'https://f4.bcbits.com/img/a1266503095_16.jpg', 'https://f4.bcbits.com/img/a3262924415_16.jpg', 'https://f4.bcbits.com/img/a1112293026_16.jpg', 'https://f4.bcbits.com/img/a1991547572_16.jpg', 'http://orig11.deviantart.net/771a/f/2014/227/a/d/shadow_of_the_colossus_psd_pack_by_ultrama6net1cart-d7vbd5o.jpg', 'http://3.bp.blogspot.com/-HqP2lIoXEtM/U8FlUcgs-VI/AAAAAAAAB6w/i8vMxM4jwHE/s1600/Shadow+3.jpg']


h1.h1 First Gallery

.container
	.photos-list.first-gallery
		each img in gallery_1
			li.photo
				img(src=img, alt="Some Foto")


h1.h1 Second Gallery

.container
	.photos-list#second-gallery
		each img in gallery_2
			li.photo
				img(src=img, alt="Some Foto")

