img {
    max-width: 100%;
}

.skySlider-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,.8);

    user-select: none;
    transition: all 200ms ease-out;
    opacity: 0;
    pointer-events: none;

    &.is-open {
        opacity: 1;
        pointer-events: auto;
    }


    * {
        box-sizing: border-box;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    button {
        padding: 0;
        outline: none;
    }

}

.skySlider-close {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;


    &:hover {
        svg {
            transform: rotate(90deg);
        }
    }

    svg {
        width: 40px;
        height: 40px;
        fill: #ffffff;
        transition: all 0.2s ease-out;
    }
}


// Big Images
//---------------------------------------
.skySlider-slider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    transition: 1ms opacity ease;
}

.skySlider-arrow {
    padding: 8px 8px;
    position: absolute;
    top: calc(50% - 28px);
    z-index: 10;
    cursor: pointer;

    svg {
        width: 40px;
        height: 40px;
        fill: #ffffff;
    }

    &.next {
        right: 32px;
    }
    &.prev {
        left: 32px;
    }
}

//---------------------------------------
.skySlider-slider {
    max-width: 600px;
    // max-width: 1200px;
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.skySlider-slider-belt {
    display: flex;
    width: 1100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.skySlider-slide {
    width: 100%;
    height: 100%;

    img {
        height: 100%;
    }
}


// Thumbnails
//---------------------------------------
.skySlider-thumbnails-wrap {
    padding: 16px 0;
    overflow: hidden;
    padding-bottom: 32px;
}

.skySlider-thumbnails-list {
    display: flex;
    transition: all 400ms ease-out;
}

.skySlider-thumbnail {
    width: 115px;
    height: 100px;
    padding: 0 8px;
    transition: all 200ms ease-out;
    transform: translateY(0);
    cursor: pointer;
    overflow: hidden;

    &.is-current {
        transform: translateY(-15px);
    }

    img {
        width: 115px;
        height: 100px;
    }
}


@media only screen and (max-width: 767px) {
    .skySlider-thumbnails-wrap {
        display: none;
    }

    .skySlider-close {
        top: 24px;

        svg {
            width: 48px;
            height: 48px;
        }
    }

    .skySlider-slider {
        height: 60%;
    }

    .skySlider-arrow {
        svg {
            width: 32px;
            height: 32px;
        }

        &.next {
            right: 0;
        }
        &.prev {
            left: 0;
        }
    }


}



// for iPod
//---------------------------------------
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1) { 
    .skySlider-slider-wrap {
        height: 60%;
    }

    .skySlider-close {
        top: 32px;
        right: 32px;

        svg {
            width: 64px;
            height: 64px;
        }
    }

    .skySlider-slider {
        height: 60%;
    }

    .skySlider-arrow {
        top: calc(43% - 28px);

        svg {
            width: 48px;
            height: 48px;
        }
        
        &.next {
            right: 8px;
        }
        &.prev {
            left: 8px;
        }
    }

}

// for iPhone 6 Plus
//---------------------------------------
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    .skySlider-slider {
        height: 35%;
    }
}


// for iPhone 6
//---------------------------------------
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .skySlider-slider {
        height: 40%;
    }    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
    .skySlider-slider {
        height: 50%;
    }
}



