extends layout/_pagewrapper


//- заголовок
block title
	title Start Page


//- секции, блоки и тд. самой страницы
block section
	.page-wrap
		include partials/_photos


//- по необходимости js код
block scripts