.photos-list {
  max-width: 1480px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  padding-top: 40px;
  li:nth-child(4n) {
    margin-right: 0;
  }
}

.photo {
  display: flex;
  justify-content: center;
  width: 340px;
  height: 380px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  cursor: pointer;
  position: relative;
  user-select: none;
  transition: all 200ms ease-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    // .thumb {
    //   opacity: 1;
    // }
  }
}

.photo-wrap {
  max-width: 300px;
  width: 100%;
  height: 300px;
  border: 1px solid rgba($black, .1);
  
  background-color: rgba($black, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.overlay {
	display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.8);
  transition: all 200ms ease-out;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  &.is-show {
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay-content {
	max-width: 580px;
	width: 100%;
	position: relative;
  margin-bottom: 20px;
}

.controls {
	position: absolute;
	top: calc(50% - 10px);
	background-color: transparent;
	border: none;
	cursor: pointer;

	svg {
		width: 40px;
		height: 40px;
		fill: $white;
	}
}


.controls-prev {
	left: -56px;
	transform: rotate(-180deg);
}

.controls-next {
	right: -56px;
}


.slides-list {
  position: relative;
  background-color: $black;
}

.slide {
  display: none;
  width: 580px;
  height: 620px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  opacity: 0;
  background-color: $white;
  transition: opacity 500ms;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  

  &.is-show {
    display: block;
    opacity: 1;

    .slide-image {
      display: block;
    }
  }
}

.slide-image {
  display: none;
  width: 500px;
  height: 500px;
  border: 1px solid rgba($black, .1);

  background-color: rgba($black, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.thumbnails-wrap {
  padding: 20px;
  width: 1018px;
  overflow: hidden;
}

.thumbnails-track {
  display: flex;
  // padding: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: transform 300ms ease-out;
  transform: translateX(-0px);
}

.thumbnail {
  display: inline-block;
  width: 170px;
  height: 190px;
  margin-right: 32px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0;
  background-color: $white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 200ms ease-out;
  cursor: pointer;
  transform: translateY(0);

  // &:hover {
  //   // transform: translateY(-10px);
  //   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  // }

  &.is-active {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

.thumbnail-photo {
  width: 150px;
  height: 150px;
  border: 1px solid rgba($black, .1);

  background-color: rgba($black, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
