.photos-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 880px;
	padding-top: 40px;

	li:nth-child(2n) {
		margin-right: 0;
	}
}

.photo {
	max-width: 420px;
	width: 100%;
	height: 280px;
	margin-right: 40px;
	margin-bottom: 40px;
	cursor: pointer;
	position: relative;
	user-select: none;

	&:hover {
		.thumb {
			opacity: 1;
		}
	}
}

.thumb {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($black, .5);

	opacity: 0;
	transition: all 200ms ease-out;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba($black, 0.6);
	transition: all 200ms ease-out;
	user-select: none;
	opacity: 0;
	pointer-events: none;

	&.is-show {
		opacity: 1;
		pointer-events: auto;		
	}
}