.skySlider-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,.8);

    user-select: none;
    transition: all 200ms ease-out;
    opacity: 0;
    pointer-events: none;

    &.is-open {
        opacity: 1;
        pointer-events: auto;
    }
}

.skySlider-close {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;

    svg {
        width: 32px;
        height: 32px;
        fill: #ffffff;
    }
}


// Big Images
//---------------------------------------
.skySlider-slider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    transition: 1ms opacity ease;
}

.skySlider-arrow {
    padding: 8px 8px;
    position: absolute;
    top: calc(50% - 28px);
    z-index: 10;
    cursor: pointer;

    svg {
        width: 48px;
        height: 48px;
        fill: #ffffff;
    }

    &.next {
        right: 32px;
    }
    &.prev {
        left: 32px;
    }
}

//---------------------------------------
.skySlider-slider {
    max-width: 600px;
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}

.skySlider-slider-belt {
    display: flex;
    width: 1100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.skySlider-slide {
    width: 100%;
    height: 100%;

    img {
        height: 100%;
    }
}


// Thumbnails
//---------------------------------------
.skySlider-thumbnails-wrap {
    padding: 16px 0;
    overflow: hidden;
    padding-bottom: 32px;
}

.skySlider-thumbnails-list {
    display: flex;
    transition: all 400ms ease-out;
}

.skySlider-thumbnail {
    width: 115px;
    padding: 0 8px;
    transition: all 200ms ease-out;
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    &.is-current {
        transform: translateY(-15px);
    }
}


@media only screen and (max-width: 767px) {
    .skySlider-thumbnails-wrap {
        display: none;
    }

    .skySlider-arrow {
        svg {
            width: 24px;
            height: 24px;
        }

        &.next {
            right: 0;
        }
        &.prev {
            left: 0;
        }
    }
}