.skySlider-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    transition: 1ms opacity ease;
    background-color: rgba(0,0,0,.8);

    opacity: 0;
    user-select: none;

    &.is-open {
        opacity: 1
    }
}

.skySlider-close {
    display: block;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;

    // padding: 8px;

    svg {
        width: 32px;
        height: 32px;
        fill: #ffffff;
    }
}


// Big Images
//---------------------------------------
.skySlider-slider-wrap {
    // width: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transition: 1ms opacity ease;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.skySlider-arrow {
    padding: 8px 8px;
    position: absolute;
    top: calc(50% - 28px);
    z-index: 10;
    cursor: pointer;

    svg {
        width: 48px;
        height: 48px;
        fill: #ffffff;
    }

    &.next {
        right: -80px;
    }
    &.prev {
        left: -80px;
    }
}

.skySlider-slider {
    width: 500px;
    overflow: hidden;
}

.skySlider-slider-belt {
    // transition: all 300ms ease-out;
    cursor: pointer;
    background-color: #222;
}

.skySlider-slide {
    float: left;
    width: 500px;
}


// Thumbnails
//---------------------------------------
.skySlider-thumbnails-wrap {
    padding: 16px 0;
    position: absolute;
    bottom: 2%;
    left: 50%;
    
    transform: translateX(-50%);
    z-index: 9999;
    overflow: hidden;
}

.skySlider-thumbnails-list {
    display: flex;
    transition: all 400ms ease-out;
}

.skySlider-thumbnail {
    width: 115px;
    margin: 0 8px;
    transition: all 200ms ease-out;
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;

    &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    &.is-current {
        transform: translateY(-15px);
    }
}
