.skySlider {

    img {
        max-width: 100%;
        // display: none;
    }
}

.skySlider-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    transition: 1ms opacity ease;
    background-color: rgba(0,0,0,.6);

    opacity: 0;

    &.is-open {
        opacity: 1
    }
}

.skySlider-content {
    display: flex;
    justify-content: center;
    width: 94%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transition: 1ms opacity ease;
    transform: translate(-50%, -50%);
}

.skySlider-slider {
  position: relative;
  background-color: $black;
//   width: 100%;
//   height: 80%;
}

.skySlider-slide {
    display: block;
    max-width: 500px;
    // height: 100%;
    // width: 100%;
//   height: 540px;
//   padding-left: 40px;
//   padding-top: 40px;
//   padding-right: 40px;
//   background-color: $white;
//   transition: opacity 500ms;
//   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  

  &.is-show {
    display: block;
    opacity: 1;

    .slide-image {
      display: block;
    }
  }
}